{{> header }}
<body>
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{word}}</h5>
        <p class="card-text">{{meaning}}</p>
        <a href="/random" class="card-link">Open another</a>
    </div>
    <div><a href="/">Home</a></div>
</div>
</body>
</html>