{{> header }}
<div class="card" style="width: 18rem;">
    <div class="card-body">
        <h5 class="card-title">{{word}}</h5>
        <p class="card-text">{{meaning}}</p>
        <a href="/random" class="card-link">Open another</a>
        <a href="/" class="card-link">Home</a>
    </div>
</div>
{{> footer }}